<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clerkPublishableKey</key>
	<string>pk_test_dWx0aW1hdGUtY2hvdy04MjAxLmNsZXJrLmFjY291bnRzLmRldiQ</string>
	<key>cloudURL</key>
	<string>https://sidekicks-cloud-dev.christiangarci6.workers.dev</string>
</dict>
</plist>
